<!DOCTYPE html>
<!--随机产生一个颜色球 -->
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app" align="center">
			随机产生一个颜色球：
			<input type="button" v-on:click="x"  value="点击按钮" /><br>
			<li v-if="z==x">红</li>
			<li v-if="z!=y">绿</li>
	    </div>
		<script type="text/javascript">
			var vm = new Vue({
				el:'#app',
				data(){
					return{
						x:'红',
						y:'绿',
						z:''
					}
				}
			})
		</script>
	</body>
</html>
